:root {
  --primary-color: #0d4eb0;
  --secondary-color: #4585e4;
  --font-color: white;
}

html {
  scroll-behavior: smooth;
}

.header {
  background: rgb(9, 9, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 0%,
    rgba(13, 78, 176, 1) 35%,
    rgb(3, 85, 101) 100%
  );
  padding: 4rem;
  color: var(--font-color);

  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.header__meta,
.header__categories,
.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__meta,
.header__categories {
  border-bottom: 1px solid rgba(255 255 255 /0.35);
  padding-bottom: 2rem;
}

.header__meta--form,
.header__meta--form fieldset,
.header__meta--links,
.header__nav--links {
  display: flex;
  align-items: center;
  gap: 3rem;
}

select,
input[type="submit"] {
  color: var(--font-color);
  border: none;
  background-color: var(--secondary-color);
  padding: 0.7rem 2rem;
}

input[type="search"] {
  background-color: var(--font-color);
  /* width: 35%; */
  flex-grow: 1;
  padding: 0.7rem 2rem;
}

a {
  color: var(--font-color);
  font-weight: 700;
  padding: 0;
}

.header__categories > div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__categories > div:nth-child(2) {
  gap: 6rem;
}

.header__categories > div:first-child {
  flex-grow: 1;
}

.header__categories--form {
  flex-grow: 1;
}

.header__categories--form select,
.header__categories--form input[type="submit"] {
  flex-grow: 1;
  border: 1px solidvar(--font-color);
}

.header__categories--form option {
  color: var(--primary-color);
}

.header__categories--favorites,
.header__categories--login {
  display: flex;
  align-items: center;
  /* flex-shrink: 0; */
  gap: 3rem;
}

.header__categories--favorites a,
.header__categories--login a {
  font-size: 1.2rem;
  display: block;
  margin: 0;
  white-space: nowrap;
}

.header__categories--favorites > div:first-child,
.header__categories--login > div:first-child {
  position: relative;
}

.header__categories--favorites > div:first-child span,
.header__categories--login > div:first-child span {
  position: absolute;
  top: -1.5rem;
  right: -1rem;
  font-size: 1rem;
  padding: 0 0.5rem;
  background-color: var(--font-color);
  color: var(--primary-color);
  border-radius: 50%;
}

.header__categories--favorites > div:first-child i,
.header__categories--login > div:first-child i,
.header__nav--help i {
  font-size: 2.5rem;
}

.header__nav--help {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__categories--logo {
  padding: 0 1rem;
  font-size: 5rem;
  border: 1px solidvar(--font-color);
}

input[type="submit"],
select {
  transition: all 0.1s ease-in;
}

input[type="submit"]:hover,
select:hover {
  filter: brightness(140%);
}

/* Link hover underline Effect */
header a {
  position: relative;
}

header a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: var(--font-color);
  transform: scale(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
}

header a:hover::after {
  transform: scale(1);
  transform-origin: left;
}

/* HAMBURGER */
.hamburger {
  position: fixed;
}

.mobile-logo {
  transform: translate(-10rem, -10rem);
}

/******************* HERO SECTION */
.hero {
  display: flex;
  gap: 2rem;
  padding: 4rem;
  height: 60vh;
  position: relative;
}

.hero__img img {
  object-position: center 25%;
  transition: all 0.3s ease-in;
}
.hero__img {
  overflow: hidden;
}
.hero__img:hover img {
  transform: scale(110%);
}
.hero__content {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero__content--title {
  color: var(--primary-color);
  background: -webkit-linear-gradient(var(--primary-color), var(--secondary-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 0.85;
}

.hero__content--link {
  background-color: var(--primary-color);
  padding: 2rem;
  align-self: flex-start;
  transition: all 0.5s ease;
}

.hero__content--link:hover {
  filter: brightness(130%);
}

.hero__content > div:last-child {
  position: absolute;
  bottom: 3rem;
  right: 10rem;

  display: flex;
}

.hero__content > div:last-child i {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.hero__content > div:last-child i:hover {
  background-color: var(--primary-color);
  color: var(--font-color);
}

/* ********************* PORTFOLIO */
.portfolio {
  display: flex;
  gap: 5rem;
  padding: 4rem;
  position: relative;
  overflow: hidden clip;
  height: max-content;
  padding-top: 10rem;
}

.portfolio::before,
.portfolio::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.portfolio::after {
  top: -25rem;
  left: -30rem;
  height: 90rem;
  width: 90rem;
  background-color: var(--secondary-color);
}

.portfolio::before {
  top: 70rem;
  right: -30rem;
  height: 60rem;
  width: 60rem;
  background-color: var(--primary-color);
}

.left,
.right {
  flex-basis: 50%;

  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.portfolio__content--title span,
.portfolio__content--para span {
  display: block;
}

.portfolio__product--img {
  height: 40rem;
  margin-bottom: 2rem;
  overflow: hidden;
  position: relative;
}

.portfolio__product--img img {
  border-radius: 1rem;
}

.portfolio__product--img .overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  padding: 1rem;
}

.portfolio__product--img:hover .overlay {
  opacity: 1;
}

.portfolio__product--title {
  font-size: 4rem;
}

.portfolio__product--category {
  font-size: 2rem;
}

.portfolio__content--mini--title {
  color: var(--primary-color);
}

.portfolio__content--title {
  line-height: 0.9;
  font-size: 4rem;
  font-weight: 900;
  color: var(--font-color);
}

.portfolio__content--para {
  margin-top: 2rem;
}

/* ******************* PRODUCT CAROUSEL */
.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 5rem;
}

.products__title {
  font-size: 5rem;
  text-align: center;
  color: var(--primary-color);
  background: -webkit-linear-gradient(var(--primary-color), var(--secondary-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.products__para {
  margin-bottom: 4rem;
  text-align: center;
}

.products__container {
  width: 100%;
  display: flex;
  gap: 2rem;
  position: relative;
  justify-content: space-around;
}

.previous,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 1.5rem;
  background-color: var(--font-color);
  border-radius: 50%;
  border: 1px solid lightgray;
  cursor: pointer;
  z-index: 1;
}

.previous {
  left: -2.5rem;
}

.next {
  right: -2.5rem;
}

.products__container--product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  position: relative;
}

.products__container--product__name > a {
  color: black;
}

.products__container--product__name > a:hover {
  color: var(--primary-color);
}

.products__container--product__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.products__container--product__img img {
  transition: all 0.3s ease-in;
  border-radius: 0.5rem;
}

.products__container--product__img:hover img {
  transform: scale(110%);
}

.products__container--product__purchase-features,
.products__container--product__tag {
  position: absolute;
}

.products__container--product__purchase-features {
  top: 65%;
  display: flex;
  gap: 2rem;
}

.products__container--product__purchase-features i {
  background-color: rgba(255 255 255 /0.8);
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
  color: black;
}

.products__container--product__purchase-features i:hover {
  transform: scale(1.1);
}

.products__container--product__tag {
  top: 5%;
  right: 5%;
  padding: 0.2rem 1.4rem;
  color: var(--font-color);
  border-radius: 0.5rem;
}

.products__container--product__tag.new {
  background-color: rgb(122 207 112);
}

.products__container--product__tag.hot {
  background-color: rgb(209 90 88);
}

/* ************************* TEAM */
.team {
  display: flex;
  flex-direction: column;
  gap: 12rem;
  padding: 4rem;
}

.team__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.team__content--mini-title {
  color: var(--primary-color);
}

.team__members {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.team__members--member {
  background-color: var(--secondary-color);
  border-radius: 1rem;
  padding: 4rem 2rem;
  text-align: center;
  color: var(--font-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  transition: all 0.3s ease;
}

.team__members--member:hover {
  transform: scale(105%);
  background-color: var(--font-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.team__members--member:hover .team__members--member__img {
  background-color: var(--primary-color);
}

.team__members--member__img {
  height: 15rem;
  width: 15rem;
  background-color: var(--font-color);
  padding: 0.5rem;
  border-radius: 50%;
  margin-top: -12.5rem;
}

.team__members--member__img img {
  border-radius: 50%;
}

.team__members--member:first-child > figure img {
  object-position: right center;
}

.team__members--member__social i {
  background-color: var(--font-color);
  color: var(--primary-color);
  padding: 1rem;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
}

/******************* FOOTER SECTION */

.footer {
  background-color: var(--primary-color);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color: var(--font-color);
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__content > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__content--info {
  color: var(--font-color);
  padding: 0;
}

.footer__content--newsletter__form {
  display: flex;
  gap: 1rem;
}

.footer__content--newsletter__form input {
  flex-grow: 1;
  color: var(--font-color);
  border: 1px solidvar(--font-color);
}

.footer__content--newsletter__form input[type="submit"]:hover {
  background-color: var(--font-color);
  color: var(--primary-color);
}

.footer__content--categories ul,
.footer__content--links ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  background-color: var(--secondary-color);
  padding: 1.5rem 2.5rem;
  border-radius: 0.5rem;
}

.footer__author--social {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 970px) {
  /* HAMBURGER OPEN */
  .hamburger {
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 1.5rem;
    right: 5rem;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    z-index: 10;
  }

  .hamburger > div {
    height: 3px;
    background-color: var(--font-color);
    transition: all 0.25s ease;
    transform: rotate(0);
  }

  .hamburger:is(.open) > div:first-child {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger:is(.open) > div:last-child {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .hamburger:is(.open) > div:nth-child(2) {
    display: none;
  }

  .hamburger:focus {
    outline: none;
  }
  .header__meta,
  .header__categories,
  .header__nav {
    transform: translateY(-50rem);
    transform-origin: bottom;
    transition: all 0.5s ease-out;
  }

  .header__meta:is(.open),
  .header__categories:is(.open),
  .header__nav:is(.open) {
    flex-direction: column;
    gap: 2rem;
    transform: translateY(0);
    transform-origin: top;
  }

  .mobile-logo {
    font-size: 10rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mobile-logo::after {
    content: "your favourite place";
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    transition: all 0.5s ease;
  }

  .mobile-logo:is(.open) {
    font-size: 5rem;
    top: 0;
    left: 0;
    transform: translate(20%, 10%);
  }

  .mobile-logo:is(.open)::after {
    position: relative;
    padding-left: 1rem;
  }

  .header__meta {
    padding-top: 4rem;
  }

  /*END OF HAMBURGER OPEN */

  .header {
    height: 100vh;
    overflow: hidden;
  }

  .header:is(.open) {
    height: auto;
    overflow: hidden;
  }

  .header__meta--form fieldset {
    flex-grow: 1;
  }

  .header__meta--links,
  .header__nav--links {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1rem;
  }

  .header__meta--links li,
  .header__nav--links li {
    text-align: center;
  }

  .header__meta--links li:not(:last-child),
  .header__nav--links li:not(:last-child) {
    padding-right: 5rem;
    border-right: 1px solidvar(--font-color);
  }

  .header__nav--help {
    justify-content: center;
  }

  .header__categories--form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .header__categories > div:last-child {
    justify-content: center;
  }

  .header__meta--links {
    order: -1;
  }

  .header__categories--logo {
    display: none;
  }

  /* *************************HERO SECTION */

  /* ******************* PRODUCT CAROUSEL */
  .products__container > div:not(:first-of-type) {
    display: none;
  }

  .products__title {
    font-size: 3rem;
  }

  /* ****************** TEAM */
  .team__members {
    flex-direction: column;
  }

  .team__members--member {
    margin-bottom: 10rem;
  }

  /******************* FOOTER SECTION */

  .footer__content {
    flex-direction: column;
    gap: 3rem;
  }

  .footer__content > div:not(:last-child) {
    border-bottom: 1px solidvar(--font-color);
  }
}

@media screen and (max-width: 580px) {
  .header__meta--links li:not(:last-child),
  .header__nav--links li:not(:last-child) {
    padding-right: 1rem;
    border-right: 1px solidvar(--font-color);
  }

  /*************** HERO */
  .hero {
    height: 100vh;
  }

  /* ********************* PORTFOLIO */
  .portfolio {
    flex-direction: column;
  }

  .portfolio::after {
    top: -5rem;
  }

  .portfolio::before {
    top: 120rem;
  }
}

@media screen and (max-width: 500px) {
  .header__meta--form {
    flex-direction: column;
    gap: 1rem;
  }
  .header__meta--links li:not(:last-child),
  .header__nav--links li:not(:last-child) {
    padding-right: 0;
    border-right: none;
  }

  .header__meta--links,
  .header__nav--links {
    flex-wrap: wrap;
  }

  /* ************************** HERO */
  .hero {
    flex-direction: column;

    padding: 0;
  }

  .hero__img img {
    height: 30rem;
    object-fit: cover;
    object-position: center 25%;
  }

  .hero__content {
    padding: 1rem;
  }

  /* ************************** FOOTER */
  .footer__content--newsletter__form,
  .footer__author {
    flex-direction: column;
  }
}
