.header {
  background-color: #0d4eb0;
  padding: 4rem;
  color: white;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header__meta,
.header__categories,
.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__meta,
.header__categories {
  border-bottom: 1px solid rgba(255 255 255 /0.35);
  padding-bottom: 2rem;
}

.header__meta--form,
.header__meta--form fieldset,
.header__meta--links,
.header__nav--links {
  display: flex;
  align-items: center;
  gap: 3rem;
}

select,
input[type="submit"] {
  color: white;
  border: none;
  background-color: #1363df;
  padding: 0.7rem 2rem;
}

input[type="search"] {
  background-color: white;
  /* width: 35%; */
  flex-grow: 1;
  padding: 0.7rem 2rem;
}

a {
  color: white;
  font-weight: 700;
  padding: 0;
}

.header__categories > div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__categories > div:nth-child(2) {
  gap: 6rem;
}

.header__categories > div:first-child {
  flex-grow: 1;
}

.header__categories--form {
  flex-grow: 1;
}

.header__categories--favorites,
.header__categories--login {
  display: flex;
  align-items: center;
  /* flex-shrink: 0; */
  gap: 3rem;
}

.header__categories--favorites a,
.header__categories--login a {
  font-size: 1.2rem;
  display: block;
  margin: 0;
  white-space: nowrap;
}

.header__categories--favorites > div:first-child,
.header__categories--login > div:first-child {
  position: relative;
}

.header__categories--favorites > div:first-child span,
.header__categories--login > div:first-child span {
  position: absolute;
  top: -1.5rem;
  right: -1rem;
  font-size: 1rem;
  padding: 0 0.5rem;
  background-color: white;
  color: #0d4eb0;
  border-radius: 50%;
}

.header__categories--favorites > div:first-child i,
.header__categories--login > div:first-child i,
.header__nav--help i {
  font-size: 2.5rem;
}

.header__nav--help {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__categories--logo {
  padding: 0;
}

input[type="submit"],
select {
  transition: all 0.1s ease-in;
}

input[type="submit"]:hover,
select:hover {
  filter: brightness(140%);
}

/* Link hover underline Effect */
a {
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: white;
  transform: scale(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
}

a:hover::after {
  transform: scale(1);
  transform-origin: left;
}

@media screen and (max-width: 900px) {
  .header__meta,
  .header__categories,
  .header__nav {
    flex-direction: column;
    gap: 2rem;
  }

  .header__meta--form {
    flex-direction: column;
    gap: 1rem;
  }

  .header__meta--form fieldset {
    flex-grow: 1;
  }

  .header__meta--links,
  .header__nav--links {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1rem;
  }

  .header__meta--links li,
  .header__nav--links li {
    text-align: center;
  }

  .header__meta--links li:not(:last-child),
  .header__nav--links li:not(:last-child) {
    padding-right: 5rem;
    border-right: 1px solid white;
  }

  .header__nav--help {
    justify-content: center;
  }

  .header__categories--form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .header__categories > div:last-child {
    justify-content: center;
  }

  .header__meta--links {
    order: -1;
  }
}

@media screen and (max-width: 580px) {
  .header__meta--links li:not(:last-child),
  .header__nav--links li:not(:last-child) {
    padding-right: 1rem;
    border-right: 1px solid white;
  }
}

@media screen and (max-width: 420px) {
  .header__meta--links li:not(:last-child),
  .header__nav--links li:not(:last-child) {
    padding-right: 0;
    border-right: none;
  }

  .header__meta--links,
  .header__nav--links {
    flex-wrap: wrap;
  }
}
